@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  background: url("../pictures/game-over-picture.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#table h1 {
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#score-display {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
  text-align: center;
}

button {
  padding: 15px 30px;
  margin-left: 38%;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  background-color: #ff3b3b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 20px;
}

button:hover {
  background-color: #e62929;
}
